.wrapperCard {
  margin-bottom: 45px;
  margin-left: 30px;
  background-color: #383838;
  border-radius: 15px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.wrapperCard:hover {
  box-shadow: 0 1px 9px #b2e560;
}

.img_container {
  width: 140px;
  height: 240px;
}

.img {
  width: 140px;
  height: 240px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.icon-card {
  display: flex;
}

.icons_card {
  display: flex;
}

.halfs {
  display: flex;
  width: 323px;
}

.right {
  min-width: 160;
  max-width: 260px;
}

.header_card {
  max-width: 145px;
  display: flex;
  justify-content: space-around;
  position: absolute;
  padding-left: 10px;
  margin-top: 10px;
  color: #b2e560;
  font-size: 16px;
  gap: 40px;
}

.name_card {
  width: 150px;
  height: 30px;
  margin-top: 70px;
  padding-left: 8px;
  color: white;
  font-size: 15px;
  font-weight: bolder;
  text-align: left;
  font-size: 16px;
}

.button_info {
  position: absolute;
  margin-top: 100px;
  padding-left: 8px;
  color: #b2e560;
  background-color: transparent;
  border: none;
  font-size: 15px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.button_info:hover {
  color: #6e6e6e;
}

.btn_star,
.btn_favorit {
  width: 23px;
  height: 23px;
  align-items: center;
  padding-left: 10px;
  background-color: transparent;
  border: none;
}
