.app {
  width: 100%;
  margin: 0 auto;
}

.wrapper {
  height: 550px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  background-color: #383838;
  border-radius: 15px;
}

.filter-block {
  position: absolute;
  margin: -315px 0px 0px 30px;
  top: 410px;
  padding-right: 40px;
  color: #b2e560;
  overflow-wrap: break-word;
  font-size: 17px;
  hyphens: auto;
}

.select-block select {
  width: 285px;
  height: 36px;
  margin-top: 4px;
  margin-bottom: 18px;
  padding-left: 4px;
  border: 1px solid #b2e560;
  border-radius: 5px;
  font-size: 14px;
}

.select-block select:focus {
  outline: none;
}

.find-btn {
  width: 285px;
  height: 36px;
  margin-bottom: 12px;
  color: rgb(22, 22, 48);
  font-size: 15px;
  font-weight: bold;
  background-color: #b2e560;
  border: none;
  border-radius: 5px;
}

.film-img {
  height: 415px;
  border-radius: 5px;
}

.film {
  width: 270px;
  margin: -485px 0px 0px 500px;
}

.pagination-btn button {
  width: 137px;
  height: 36px;
  margin: 2px;
  color: rgb(22, 22, 48);
  font-size: 15px;
  font-weight: bold;
  background-color: #b2e560;
  border: none;
  border-radius: 5px;
}

.find-btn:hover {
  color: #fff;
  background-color: #6e6e6e;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.film-card {
  font-size: 20px;
}

.search_film-title {
  font-size: 20px;
  text-align: center;
}

.error_title {
  width: 295px;
  margin-top: 10px;
  font-size: 20px;
}

.pagination-btn-no-film button {
  width: 137px;
  height: 36px;
  margin: 2px;
  background-color: #6e6e6e;
  color: rgb(22, 22, 48);
  font-size: 15px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}
