.filter_wrapper {
  width: 200px;
  height: 670px;
  position: relative;
  margin-top: 10px;
  padding-left: 14px;
  padding-right: 45px;
  border-left: none;
  color: #fff;
  background-color: #383838;
  border-radius: 15px;
}

.filter_header {
  margin-top: 15px;
  box-sizing: border-box;
  font-size: 25px;
  font-weight: 700;
}

.filter_reset {
  height: 36px;
  width: 235px;
  margin-bottom: 12px;
  margin-top: 12px;
  color: #383838;
  font-size: 15px;
  font-weight: bold;
  border-radius: 5px;
  background-color: #b2e560;
  border: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.filter_reset:hover {
  color: #fff;
  background-color: #6e6e6e;
}

.filter_selector {
  height: 36px;
  width: 235px;
  font-size: 14px;
  margin-top: 4px;
  margin-bottom: 18px;
  padding-left: 4px;
  color: #383838;
  border-radius: 5px;
  border: 1px solid #b2e560;
}

.filter_selector:focus {
  outline: none;
}
